.text-container {
    position: relative;
    display: inline-block;
    z-index: 0; /* Establish a stacking context explicitly */
}

.text,
.text-shadow {
    position: relative;
    z-index: 2;
}

.text-stroke {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: transparent;
    pointer-events: none;
}

.text-stroke {
    z-index: 3;
}
