.gamepage-wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        180deg,
        #00467d 0%,
        #002846 25%,
        #001c31 54%,
        #002e51 100%
    );
    .logo {
        position: absolute;
        img {
            width: 300px;
        }
        .logo-text {
            position: absolute;
            top: 15px;
            left: 50px;
            width: 200px;
        }
    }
    .menu-button {
        position: absolute;
        right: 0;
        img {
            width: 300px;
        }
        .icon {
            position: absolute;
            right: 80px;
            top: 17px;
        }
    }
    .game {
        width: calc(100% - 100px);
        height: calc(100% - 200px);
        box-sizing: border-box;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        box-shadow: -4px 4px 0px 0px #000;
        border: 5px solid #000;
        position: absolute;
        top: calc(50% - 0px);
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        .timer {
            position: relative;
            top: -91px;
            height: 90px;
            .time {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                h2 {
                    color: #fff;
                    text-align: center;
                    font-family: Inter;
                    font-size: 40px;
                    font-style: italic;
                    font-weight: 900;
                    line-height: 40px;
                    margin: 0;
                }
            }
            .score {
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
                h3 {
                    color: #fff;
                    text-align: center;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: italic;
                    font-weight: 900;
                    line-height: 20px;
                    margin: 0;
                }
            }
        }
        .image-wrapper {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 16px;
            .image {
                background-color: rgb(179, 69, 69);
                height: 100%;
                width: 100%;
                border-radius: 16px;
            }
            .map {
                background-color: white;
                position: absolute;
                right: 20px;
                bottom: 20px;
                width: 300px;
                height: 400px;
                border-radius: 40px;
                box-shadow: -4px 4px 0px 0px #000;
                border: 5px solid #000;
            }
        }
    }
    .progress-bar {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 50px;
    }
    .submit-wrapper {
        button {
        }
    }
}
